/*Main body Style*/

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #efefef;
    padding: 0px;
    padding-top: 60px; /* Adjust the value based on the height of your navbar */
    margin: 0;
    box-sizing: border-box;
    /*IDK if i need these*/
}

header {
    text-align: left;
}

main {
    background-color: black;
    text-align: left;
}

footer {
    position: relative;
    bottom: 10;
}

section {
    display: block;
    /*background: black; ### Colors determined by order below*/
    color: #efefef;
    /*height: 100vh;
    width: 100%; /*100 vh also works*/
    padding: 60px; /*This is the padding for the text*/
    box-sizing: border-box; /* Ensures padding is included in the 100% width */
    position: relative;
}

section:nth-of-type(odd) {
    background-color: #000000;
}

section:nth-of-type(even) {
    background-color: #252525;
}

.center-text {
    text-align: center;
}

/* Project Cards */
.draggable-container {
    display: flex;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    margin: 20px 0;
}

.draggable-item {
    min-width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.draggable-item:active {
    cursor: grabbing;
}