.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: rgba(0, 0, 0, 0); /* Start with a transparent background */
    transition: background-color 0.3s ease; /* Smooth transition */
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Logo */

.logo {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 40px;
    width: 40px;
}

.section-title {
    color: #efefef;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: opacity 0.3s ease;
}

/* Main Nav Menu */

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #efefef;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
    display: flex; /* Add flex display */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.menu a:hover {
    background-color: #555;
}

 /* Projects Mega Menu */

.dropdown-content {
    position: relative;
    display: inline-block;
}

.projects-dropdown .dropdown-content {
    display: none;
    position: fixed;
    background-color: #282828;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0; /* Align to the left edge of the viewport */
    width: 100vw; /* Full width of the viewport */
    box-sizing: border-box;
}

.projects-dropdown:hover .dropdown-content {
    display: block;
}

.mega-menu {
    padding: 20px; /* Add some padding */
}

.mega-menu .row {
    display: flex;
    justify-content: space-around;
}

.mega-menu .column {
    flex: 1;
    padding: 10px;
}

.project-menu-image {
    max-width: 100%; /* Ensure the image fits within the column */
    height: 100%; /* Maintain aspect ratio */
}

/* Styles for the Professional Documents dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Align to the right edge of the viewport */
    width: auto; /* Adjust width to fit content */
    box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #efefef;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}