body {
    padding-top: 60px; /* Adjust the value based on the height of your navbar */
    overflow-x: hidden; /* Hide horizontal scroll bar */

}

#hero {
    width: 100vw;
    height: calc(100vh - 60px); /* Adjust the height based on the height of your navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0px; /* Adjust the gap between rows as needed */
    max-width: 50%; /* Ensure the column is not wider than 50% of the screen */
}

.hero-image .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Each row will take an equal height */
}

.hero-image .row img {
    margin: 0px; /* Adjust the margin between images as needed */
}

.hero-text {
    flex: 1;
    padding: 20px;
    padding-bottom: 20vh; /* Add padding at the bottom to lift the words */
    max-width: 50%; /* Ensure the column is not wider than 50% of the screen */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align the text to the bottom */
    height: 100%; /* Ensure the text container takes full height */
    font-family: 'Arial', sans-serif; /* Set the font family */
}

.hero-title {
    font-size: 3vw; /* Set the title size relative to the viewport width */
    margin-bottom: 0.5vw; /* Adjust the space below the title */
    margin-top: 1vw;
}

.hero-subtitle {
    font-size: 2vw; /* Set the subtitle size relative to the viewport width */
    margin-bottom: 0vw; /* Adjust the space below the title */
    margin-top: 1vw;
    font-weight: 300; /* Set the font weight to a lighter value */

}

.hero-description {
    font-size: 1.5vw; /* Set the description size relative to the viewport width */
    font-weight: 200; /* Set the font weight to a lighter value */

}

/* Image Transformations # 1 */

.transform-image-1 {
    object-fit: cover;     /* Ensure the image covers the container without distortion */
    border-radius: 10px;
    position: relative; 
    z-index: 101; 

    width: 18vw;
    height: 40vh;

    transform: translateY(20vh);

    transition: transform 0.3s ease-in-out;
}

.transform-image-1:hover {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 106; 
    transform: scale(1.1) translateY(20vh);

    transition: transform 0.3s ease-in-out;
}

/* Image Transformations # 2 */

.transform-image-2 {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 102;

    width: 25vw;
    height: 20vh;

    transform: translateX(5vw) translateY(20vh);

    transition: transform 0.3s ease-in-out;
}

.transform-image-2:hover {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 106; 
    transform: scale(1.1) translateX(5vw) translateY(20vh);
}

/* Image Transformations # 3 */

.transform-image-3 {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 104; 

    width: 20vw;
    height: 45vh;

    transition: transform 0.3s ease-in-out;
}

.transform-image-3:hover {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 106; 
    transform: scale(1.1);
}

/* Image Transformations # 4 */

.transform-image-4 {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 105; 

    width: 18vw;
    height: 38vh;

    transform: translateX(-3vw) translateY(-18vh);

    transition: transform 0.3s ease-in-out;
}

.transform-image-4:hover {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 105=6; 
    transform: scale(1.1) translateX(-3vw) translateY(-18vh);
}

/* Image Transformations # 5 */

.transform-image-5 {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 103; 

    width: 16vw;
    height: 35vh;

    transform: translateX(5vw) translateY(-20vh);

    transition: transform 0.3s ease-in-out;
}

.transform-image-5:hover {
    object-fit: cover;
    border-radius: 10px;
    position: relative; 
    z-index: 106; 
    transform: scale(1.1) translateX(5vw) translateY(-20vh);
}